<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/getStartednavbar') %>

    <!-- breakfast menu starts here  -->
    <div class="breakfasts-div" style="display: flex; margin-top: 50px;">
        <div class="breakfast-text" style=" padding-top: 50px;">
          <div class="header">
            <h1>Breakfasts</h1>
          </div>
          <div class="desc" style="width: 80%; margin-top: 30px;">
            <p>
              Breakfast is often called the most important meal of the day, and
              for good reason. As the name suggests, breakfast breaks the
              overnight fasting period.
            </p>
          </div>
          <div class="shop" style="margin-top: 25px; width: 50%; height: 20px; padding-top:10px; text-align: center; border-radius: 10px; background-color: #ff6b03; ">
            <a href="#" style="text-decoration: none; color: white;">Shop breakfast meals</a>
          </div>
        </div>


    <div class="breakfast">
          <%allFoods[0].forEach(el => { %>
          <div class="ud">
            <div class="img-div" style="position: relative; width:200px; height: 200px; overflow: hidden; border-radius: 16px; display: flex;justify-content: center;align-items: center; ">
              <img src="<%= el.breakfastImage %>" alt="" style=" max-height: 240px;">
            </div>
            <div class="two-flex" style="margin-left: -10px;">
                <div class="name-div" style="text-align: center;margin-left: -15px; font-weight: 600;">
                    <p><%= el.breakfastName %></p>
                </div>
                <div class="price-div" style= " font-weight: 600;">
                    <p><%= el.breakfastPrice %></p>
                </div>
            </div>
            <div class="desc-div" style="margin-left: 10px; margin-top: 10px; line-height: 20px;">
                <p><%= el.breakfastDescription%></p>
            </div>
        </div>
        <% }) %>
    </div>
</div>
      
<!-- lunch menu starts here -->
<div class="breakfasts-div" style="display: flex; margin-top: 100px;">
    <div class="breakfast-text" style=" padding-top: 50px;">
      <div class="header">
        <h1>Lunch</h1>
      </div>
      <div class="desc" style="width: 80%; margin-top: 30px;">
        <p>
            Lunch is a meal that is usually eaten around noon or in the early afternoon. In most countries, it is the second meal of the day, after breakfast and before dinner.
        </p>
      </div>
      <div class="shop" style="margin-top: 25px; width: 50%; height: 20px; padding-top:10px; text-align: center; border-radius: 10px; background-color: #ff6b03; ">
        <a href="#" style="text-decoration: none; color: white;">Shop Lunch meals</a>
      </div>
    </div>


<div class="breakfast">
      <%allFoods[1].forEach(el => { %>
      <div class="ud">
        <div class="img-div" style="position: relative; width:200px; height: 200px; overflow: hidden; border-radius: 16px; display: flex;justify-content: center;align-items: center; ">
          <img src="<%= el.lunchImage %>" alt="" style=" max-height: 240px;">
        </div>
        <div class="two-flex" style="margin-left: -10px;">
            <div class="name-div" style="text-align: center;margin-left: -15px; font-weight: 600;">
                <p><%= el.lunchName %></p>
            </div>
            <div class="price-div" style= " font-weight: 600;">
                <p><%= el.lunchPrice %></p>
            </div>
        </div>
        <div class="desc-div" style="margin-left: 10px; margin-top: 10px; line-height: 20px;">
            <p><%= el.lunchDescription%></p>
        </div>
    </div>
    <% }) %>
</div>
</div>

<!-- dinner menu starts here --> 
<div class="breakfasts-div" style="display: flex; margin-top: 100px;">
  <div class="breakfast-text" style=" padding-top: 50px;">
    <div class="header">
      <h1>Dinner</h1>
    </div>
    <div class="desc" style="width: 80%; margin-top: 30px;">
      <p>
        Dinner is an important meal, but you can experiment with a range of great foods. Having a healthy dinner is linked to good sleep, good choices at breakfast and lunch.
      </p>
    </div>
    <div class="shop" style="margin-top: 25px; width: 50%; height: 20px; padding-top:10px; text-align: center; border-radius: 10px; background-color: #ff6b03; ">
      <a href="#" style="text-decoration: none; color: white;">Shop Dinner meals</a>
    </div>
  </div>


<div class="breakfast">
    <%allFoods[2].forEach(el => { %>
    <div class="ud">
      <div class="img-div" style="position: relative; width:200px; height: 200px; overflow: hidden; border-radius: 20px; display: flex;justify-content: center;align-items: center; ">
        <img src="<%= el.dinnerImage %>" alt="" style=" max-height: 240px;">
      </div>
      <div class="two-flex" style="margin-left: -10px;">
          <div class="name-div" style="text-align: center;margin-left: -15px; font-weight: 600;">
              <p> <a href="#" style="text-decoration: none; color:black;"><%= el.dinnerName %></a></p>
          </div>
          <div class="price-div" style= " font-weight: 600;">
              <p><%= el.dinnerPrice %></p>
          </div>
      </div>
      <div class="desc-div" style="margin-left: 10px; margin-top: 10px; line-height: 20px;">
          <p><%= el.dinnerDescription%></p>  
      </div> 
  </div>
  <% }) %>
</div>
</div>


    <%- include('partials/footer') %>
  </body>
</html>
